body { background: #a840b3; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 18px; display: flex; }
.block-sms-0 { color: #5daeb4; font-size: 17px; margin-bottom: 5px; }
.block-cart-1 { color: #ffd055; font-size: 19px; margin-bottom: 5px; }
.block-cache-2 { color: #51ecbe; font-size: 12px; margin-bottom: 5px; }
.block-user-3 { color: #8b4844; font-size: 12px; margin-bottom: 5px; }
.block-notify-4 { color: #80c1f8; font-size: 18px; margin-bottom: 5px; }
.block-cache-5 { color: #4d9663; font-size: 16px; margin-bottom: 5px; }